<form name="theForm" class="theForm">
	
	<!--
	private Employee employeeByBuserId;//业务员
	private Dictionary dictionaryByBusType;
	private Dictionary dictionaryByOperType;
	private Employee employeeByAddUserId;
	private Employee employeeByCilentServicer;
	private Enterprise enterpriseByEnterpriseId;
	private InternalBooking internalBooking;//内部订舱单
	private Dictionary dictionaryByStatus;
	private String busNum;
	private Date addTime;
	private Long comitUserId;
	private Date comitTime;
	private Double arPrize; 
	 -->
	<!-- 管理类开始 -->
	<input type="text" ng-model="item.busNum" required="required"
		class="am-form-field" placeholder="业务编号" />
	<input type="text" ng-model="item.name" required="required"
		class="am-form-field" placeholder="业务单名称" />
	<input type="textarea" ng-model="item.remark" 
		class="am-form-field" placeholder="备注" />
	<input type="number" ng-model="item.arPrize" 
		class="am-form-field" placeholder="应收费用" />
	<div style="display: inline-block;">
		<label>
			业务员：
		</label>
		<yhselect-table sltmodel="item.employeeByBuserId" mutl="false" dataurl="employee/find.do?type=1" 
				id-name="id" show-title="业务员" show-name="name" filter-field="{ 'name_like': 'text' }"  style="display: inline-block;">
		</yhselect-table>	
	</div>
	<div style="display: inline-block;">
		<label>
			业务类型：
		</label>
		<yhselect-table sltmodel="item.dictionaryByBusType" mutl="false" dataurl="dictionary/find.do?type=1" 
				id-name="id" show-title="业务类型" show-name="name" filter-field="{ 'name_like': 'text' }"  style="display: inline-block;">
		</yhselect-table>	
	</div>
	<div style="display: inline-block;">
		<label>
			操作类型：
		</label>
		<yhselect-table sltmodel="item.dictionaryByOperType" mutl="false" dataurl="dictionary/find.do?type=1" 
				id-name="id" show-title="操作类型" show-name="name" filter-field="{ 'name_like': 'text' }"  style="display: inline-block;">
		</yhselect-table>	
	</div>
	<div style="display: inline-block;">
		<label>
			主客服：
		</label>
		<yhselect-table sltmodel="item.employeeByCilentServicer" mutl="false" dataurl="employee/find.do" 
				id-name="id" show-title="操作类型" show-name="name" filter-field="{ 'name_like': 'text' }"  style="display: inline-block;">
		</yhselect-table>	
	</div>
	<div style="display: inline-block;">
		<label>
			内部订舱单：
		</label>
		<yhselect-table sltmodel="item.internalBooking" mutl="false" dataurl="internalBooking/find.do" 
				id-name="id" show-title="内部订舱单" show-name="name" filter-field="{ 'name_like': 'text' }"  style="display: inline-block;">
		</yhselect-table>	
	</div>
	<div style="display: inline-block;">
		<label>
			提交状态：
		</label>
		<yhselect-table sltmodel="item.dictionaryByStatus" mutl="false" dataurl="dictionary/find.do" 
				id-name="id" show-title="" show-name="name" filter-field="{ 'name_like': 'text' }"  style="display: inline-block;">
		</yhselect-table>	
	</div>
	<!-- 管理类结束 -->
	
	
	<!-- 需求类开始 -->
	<!-- 
	private Client client;//客户
	private Long boxCnt;
	private Double cargoValue;
	private Door startPoint;
	private Door endPoint;
	private Dictionary dictionaryByIsContract;//是否有合同
	private Contract contract;
	private Dictionary dictionaryByPrizeType;//价格类型
	private ContainerType containerType;//箱型
	private Dictionary dictionaryByPrediLoadCargoType;//
	private Enterprise enterpriseByShipper;//托运人
	private Enterprise enterpriseByConsignee;//收货人
	private Date prediVesselinfo;//TODO
	private Date prediLoadCargoTime; //TODO
	private String loadCargoExplain;
	private Date prediDeliveryTime;//
	private String deliveryExplain;
	private Dictionary dictionaryByPrediDeliveryType;
	private Dictionary dictionaryByBoxWeight;
	
	private Dictionary dictionaryByPaymentType;
	private Dictionary dictionaryByCargoKinds;
	private Dictionary dictionaryByWeightBack;
	private Set<OrderDeliveryCargoAddr> orderDeliveryCargoAddrs = new HashSet<OrderDeliveryCargoAddr>(0);
	private Set<OrderLoadCargoAddr> orderLoadCargoAddrs = new HashSet<OrderLoadCargoAddr>(0);
	 -->
	<div style="display: inline-block;">
	 <input type="number" ng-model="item.boxCnt" 
		class="am-form-field" placeholder="箱量" />
	 <input type="number" ng-model="item.cargoValue" 
		class="am-form-field" placeholder="货值" />
	</div>
	<div style="display: inline-block;">
		<label>
			客户：
		</label>
		<yhselect-table sltmodel="item.client" mutl="false" dataurl="enterprise/find.do?client.id_noteq=0" 
				id-name="id" show-title="客户" show-name="name" filter-field="{ 'enterprise.name_like': 'text' }"  style="display: inline-block;">
		</yhselect-table>	
	</div>
	<div style="display: inline-block;">
		<label>
			合同：
		</label>
		<yhselect-table sltmodel="item.contract" mutl="false" dataurl="contract/find.do" 
				id-name="id" show-title="合同" show-name="name" filter-field="{ 'name_like': 'text' }"  style="display: inline-block;">
		</yhselect-table>	
	</div>
	<div style="display: inline-block;">
		<label>
			价格类型：
		</label>
		<yhselect-table sltmodel="item.dictionaryByPrizeType" mutl="false" dataurl="dictionary/find.do?type=1" 
				id-name="id" show-title="价格类型" show-name="name" filter-field="{ 'name_like': 'text' }"  style="display: inline-block;">
		</yhselect-table>	
	</div>
	<div style="display: inline-block;">
		<label>
			始发地：
		</label>
		<yhselect-table sltmodel="item.startPoint" mutl="false" dataurl="door/find.do?type=1" 
				id-name="id" show-title="始发地" show-name="name" filter-field="{ 'name_like': 'text' }"  style="display: inline-block;">
		</yhselect-table>	
	</div>
	<div style="display: inline-block;">
		<label>
			目的地：
		</label>
		<yhselect-table sltmodel="item.endPoint" mutl="false" dataurl="door/find.do?type=1" 
				id-name="id" show-title="目的地" show-name="name" filter-field="{ 'name_like': 'text' }"  style="display: inline-block;">
		</yhselect-table>	
	</div>
	<div style="display: inline-block;">
		<label>
			箱型：
		</label>
		<yhselect-table sltmodel="item.containerType" mutl="false" dataurl="containerType/find.do" 
				id-name="id" show-title="箱型" show-name="name" filter-field="{ 'name_like': 'text' }"  style="display: inline-block;">
		</yhselect-table>	
	</div>
	<div style="display: inline-block;">
		<label>
			托运人：
		</label>
		<yhselect-table sltmodel="item.enterpriseByShipper" mutl="false" dataurl="enterprise/find.do" 
				id-name="id" show-title="托运人" show-name="name" filter-field="{ 'name_like': 'text' }"  style="display: inline-block;">
		</yhselect-table>	
	</div>
	<div style="display: inline-block;">
		<label>
			收货人：
		</label>
		<yhselect-table sltmodel="item.enterpriseByConsignee" mutl="false" dataurl="enterprise/find.do" 
				id-name="id" show-title="箱型" show-name="name" filter-field="{ 'name_like': 'text' }"  style="display: inline-block;">
		</yhselect-table>	
	</div>
	
	预报船期:<input class="Wdate am-form-field am-radius" type="datetime" 
			date-picker date-fmt="yyyy-MM-dd H:mm:ss" min-date="" max-date="" 
			ng-model="item.prediVesselinfo"
			style="width: 250px;height: 30px;line-height: 30px;font-size: 14px;padding-left: 5px;" />
	预装货时间:<input class="Wdate am-form-field am-radius" type="datetime" 
			date-picker date-fmt="yyyy-MM-dd H:mm:ss" min-date="" max-date="" 
			ng-model="item.prediLoadCargoTime"
			style="width: 250px;height: 30px;line-height: 30px;font-size: 14px;padding-left: 5px;" />
	预送货时间:<input class="Wdate am-form-field am-radius" type="datetime" 
			date-picker date-fmt="yyyy-MM-dd H:mm:ss" min-date="" max-date="" 
			ng-model="item.prediDeliveryTime"
			style="width: 250px;height: 30px;line-height: 30px;font-size: 14px;padding-left: 5px;" />
			
	<input type="text" ng-model="item.loadCargoExplain" 
		class="am-form-field" placeholder="装货说明" />
		<input type="text" ng-model="item.deliveryExplain" 
		class="am-form-field" placeholder="送货说明" />
	<div style="display: inline-block;">
		<label>
			预送货类型：
		</label>
		<yhselect-table sltmodel="item.dictionaryByPrediDeliveryType" mutl="false" dataurl="dictionary/find.do?type=1" 
				id-name="id" show-title="预送货类型" show-name="name" filter-field="{ 'name_like': 'text' }"  style="display: inline-block;">
		</yhselect-table>	
	</div>
	<div style="display: inline-block;">
		<label>
			重/吉柜：
		</label>
		<yhselect-table sltmodel="item.dictionaryByBoxWeight" mutl="false" dataurl="dictionary/find.do?type=1" 
				id-name="id" show-title="重吉柜" show-name="name" filter-field="{ 'name_like': 'text' }"  style="display: inline-block;">
		</yhselect-table>	
	</div>
	<div style="display: inline-block;">
		<label>
			付款方式：
		</label>
		<yhselect-table sltmodel="item.dictionaryByPaymentType" mutl="false" dataurl="dictionary/find.do?type=1" 
				id-name="id" show-title="付款方式" show-name="name" filter-field="{ 'name_like': 'text' }"  style="display: inline-block;">
		</yhselect-table>	
	</div>
	<div style="display: inline-block;">
		<label>
			货种：
		</label>
		<yhselect-table sltmodel="item.dictionaryByCargoKindst" mutl="false" dataurl="dictionary/find.do?type=1" 
				id-name="id" show-title="货种" show-name="name" filter-field="{ 'name_like': 'text' }"  style="display: inline-block;">
		</yhselect-table>	
	</div>
	<div style="display: inline-block;">
		<label>
			是否重回：
		</label>
		<yhselect-table sltmodel="item.dictionaryByWeightBack" mutl="false" dataurl="dictionary/find.do?type=1" 
				id-name="id" show-title="货种" show-name="name" filter-field="{ 'name_like': 'text' }"  style="display: inline-block;">
		</yhselect-table>	
	</div>
 
	<div style="display: inline-block;">
		<label>
			预装收货地址：(客户ID{{item.client.id}})
		</label>
		<yhselect-table sltmodel="item.orderLoadCargoAddrs" mutl="true" 
		dataurl="address/find.do?clientAddresses.client.id={{item.client.id}}" url-param="getClientAddressParam(item)" 
				id-name="id" show-title="地址" show-name="detail" 
				filter-field="{ 'detail_like': 'text' }" 
			style="display: inline-block;">
		</yhselect-table>	
	</div><addClientAddr model="item.client" show-msg="增加用户地址" />

	<!-- 需求类结束 -->
	
	

	
	<!-- 	<input class="am-form-field" type="datetime" date-picker date-fmt="yyyy-MM-dd H:mm:ss" min-date="" max-date="" ng-model="item.createTime" required="required" readonly="readonly" style="display: inline-block;width:25%;height: 29.2px;border-radius: 3px;font-size: 12px;" -->
	<!-- 	placeholder="请选择创建时间" /> -->

	<button type="submit"
		class="am-btn am-btn-success am-radius am-btn-xs am-btn-block"
		ng-disabled="myForm.$invalid" ng-click="save(item)">
		<i class="am-icon-save"></i>保存
	</button>	
</form>