<form name="theForm" class="theForm">
	
	<div>{{showMsg}}</div>
	<div>客户:{{model}}</div>
	
 	<!-- 客户的地址 -->
 	
 	<!-- 增加客户的地址 -->
<!-- 	<input type="text" ng-model="item.busNum" required="required" -->
<!-- 		class="am-form-field" placeholder="业务编号" /> -->
	<!-- 以下为列表代码 -->
		<table ng-table="tableParams" show-filter="true"
			class="ng-table-responsive am-table am-table-bordered am-table-striped"
			id="table">
			<tbody ng-repeat="item in $data">
				<tr id="tr{{item.id}}" ng-dblclick="selcectCurrentTr(item)">
					<td data-title="地址" filter="detail_like" sortable="detail"
						sort-indicator="'span'">{{item}} 
					</td>
				</tr>
			</tbody>
		</table>
		<!-- 以上为列表代码 -->
	
 

	<button type="submit"
		class="am-btn am-btn-success am-radius am-btn-xs am-btn-block"
		ng-disabled="myForm.$invalid" ng-click="save(item)">
		<i class="am-icon-save"></i>增加
	</button>	
</form>