<!--
    作者：tooze2003@163.com
    时间：2015-09-16
    描述：部门选择框
-->
<!-- 以下为列表代码  ng-controller="UserCtrl"-->
<div  ng-switch="mutl">
	<i class="am-icon-edit am-text-danger"
		ng-click="toggleSelectDivDispaly()"></i>
	<!-- 输出已选  开始-->
	<a ng-switch-when="false" class="am-badge am-badge-warning am-radius am-close am-close-alt am-close-spin">
		{{sltmodel.name}} </a> 
	<span ng-switch-when="true"
		class="am-badge am-badge-warning am-radius "
		ng-repeat="item in sltmodel"> {{item.name}} 
			<a class="am-close am-close-alt am-close-spin" nc-click="delSelected(item)">x</a> </span>

	<a class="am-badge am-badge-warning">Warning123456897987987654546</a>
	
	
	
	
	
	
	<!-- 输出已选  结束-->
	<div class="selectDiv" ng-show="SelectDivDispalyFlag">

		<!-- 关闭下拉框 开始-->
		<i class="am-icon-minus-square am-fr am-text-danger am-text-default"
			ng-click="hiedecloseselectdiv()"></i>
		<!-- 关闭下拉框 结束-->


		<!-- 以下为列表代码 -->
		<table ng-table="tableParams" show-filter="true"
			class="ng-table-responsive am-table am-table-bordered am-table-striped"
			id="table">
			<keyvalue dataurl="department/find.do" />
			<tbody ng-repeat="item in $data">
				<tr id="tr{{item.id}}" ng-dblclick="selcectCurrentTr(item)">
					<td data-title="'部门'" filter="{ 'name_like': 'text' }"
						sortable="'name'" sort-indicator="'span'">{{item.name}} <i
						class="am-icon-check am-text-success" ng-show="isSelected(item)"></i>
					</td>
				</tr>
			</tbody>
		</table>
		<!-- 以上为列表代码 -->
	</div>

</div>



