
<div ng-switch="mutl" class="selectContainer">
	<i class="am-icon-edit am-text-danger"
		ng-click="toggleSelectDivDispaly()"></i>
	<!-- 输出已选  开始-->

		
		
	
	<a ng-switch-when="false" ng-if="sltmodel!=null" class="am-badge am-badge-warning  am-radius">{{sltmodel[showName]}} 
		<span class="am-close " ng-click="delSelected(item)">&times;</span>
	</a>



	<a ng-switch-when="true" ng-repeat="item in sltmodel"
		class="am-badge am-badge-warning  am-radius">{{item[showName]}}
		<span class="am-close " ng-click="delSelected(item)">&times;</span>
	</a>



	<!-- 输出已选  结束-->
	<div class="selectDiv" ng-show="SelectDivDispalyFlag">
		<!-- 关闭下拉框 开始-->
		<a class="am-close am-close-alt am-close-spin am-margin-bottom-xs am-fr"
			ng-click="hiedecloseselectdiv()">&times;</a>
		<!-- 关闭下拉框 结束-->
		<!-- 以下为列表代码 -->
		<table ng-table="tableParams" show-filter="true"
			class="ng-table-responsive am-table am-table-bordered am-table-striped"
			id="table">
			<tbody ng-repeat="item in $data">
				<tr id="tr{{item.id}}" ng-dblclick="selcectCurrentTr(item)">
					<td data-title="showTitle" filter="filterField" sortable="showName"
						sort-indicator="'span'">{{item[showName]}} 
						<i class="am-icon-check am-text-success" ng-show="isSelected(item)"></i>
					</td>
				</tr>
			</tbody>
		</table>
		<!-- 以上为列表代码 -->
	</div>

</div>
