<form name="theForm" class="theForm">
			<input type="text" ng-model="item.id" required="required"
		class="am-form-field" placeholder="id" />
		</td>
			<input type="text" ng-model="item.topId" required="required"
		class="am-form-field" placeholder="topId" />
		</td>
			<input type="text" ng-model="item.routeId" required="required"
		class="am-form-field" placeholder="routeId" />
		</td>
			<input type="text" ng-model="item.portId" required="required"
		class="am-form-field" placeholder="portId" />
		</td>
			<input type="text" ng-model="item.jobTime" required="required"
		class="am-form-field" placeholder="jobTime" />
		</td>
			<input type="text" ng-model="item.onWayTime" required="required"
		class="am-form-field" placeholder="onWayTime" />
		</td>
			<input type="text" ng-model="item.distance" required="required"
		class="am-form-field" placeholder="distance" />
		</td>
			<input type="text" ng-model="item.remark" required="required"
		class="am-form-field" placeholder="remark" />
		</td>
			<input type="text" ng-model="item.portIndex" required="required"
		class="am-form-field" placeholder="portIndex" />
		</td>
		
	<!-- 	<input class="am-form-field" type="datetime" date-picker date-fmt="yyyy-MM-dd H:mm:ss" min-date="" max-date="" ng-model="item.createTime" required="required" readonly="readonly" style="display: inline-block;width:25%;height: 29.2px;border-radius: 3px;font-size: 12px;" -->
	<!-- 	placeholder="请选择创建时间" /> -->

	<button type="submit"
		class="am-btn am-btn-success am-radius am-btn-xs am-btn-block"
		ng-disabled="myForm.$invalid" ng-click="save(item)">
		<i class="am-icon-save"></i>保存
	</button>	
</form>