<form name="theForm" class="theForm">
	<table width="100%">
		<tr>
			<td>
				<input type="text" ng-model="item.name" required="required" class="am-form-field" placeholder="name" />
			</td>
			<td width="60"></td>
			<td>
				<input type="text" ng-model="item.code" required="required" class="am-form-field" placeholder="code" />
			</td>
		</tr>
		<tr>
			<td>
				<input type="text" ng-model="item.lockStatus" required="required" class="am-form-field" placeholder="lockStatus" />
			</td>
			<td width="60"></td>
			<td>
				<input type="text" ng-model="item.remark" required="required" class="am-form-field" placeholder="remark" />
			</td>
		</tr>
		<tr>
			<td colspan="2" >
				<button type="button" class="am-btn am-btn-primary am-radius" ng-click="refreshRoutePort(item)" title="刷新">
					<i class="am-icon-refresh"></i>刷新
				</button>
			</td>
		</tr>
		<tr>
			<td id="overdivParent" colspan="3" style="width: auto;">
				<div id="overdiv" class="overdiv" style="overflow-x:auto; width:1120px;">
					<ul style="width:{{item.routePorts.length * 370 + 150}}px;height:auto;">
						<li class="portBox" ng-repeat="node in item.routePorts">
							<div class="btnPlus">
								<button type="button" class="am-btn am-btn-success am-radius am-btn-xs am-btn-block" ng-click="addRoutePort(item, $index)" title="新增港口">
									<i class="am-icon-plus"></i>
								</button>
							</div>
							<div style="margin-left:0;display:inline-block;">
								<table class="table" style="width:100%;">
									<tr>
										<td style="width:100px;" align="right"><label class="myLabel">港口名称</label></td>
										<td>
											<yhselect-table sltmodel="node.port" mutl="false" 
												dataurl="port/findByPage.do" id-name="id"  show-title="港口" show-name="name" filter-field="{ 'name_like': 'text' }"  style="display: inline-block;">
											</yhselect-table>
										</td>
									</tr>
									<tr>
										<td align="right"><label class="myLabel">作业时间(h)</label></td>
										<td><input type="text" ng-model="node.jobTime" required="required" class="am-form-field"/></td>
									</tr>
									<tr>
										<td align="right"><label class="myLabel">途中时间(h)</label></td>
										<td><input type="text" ng-model="node.onWayTime" required="required" class="am-form-field"/></td>
									</tr>
									<tr>
										<td align="right"><label class="myLabel">距离(m)</label></td>
										<td><input type="text" ng-model="node.distance" required="required" class="am-form-field"/></td>
									</tr>
									<tr>
										<td align="right"><label class="myLabel">备注</label></td>
										<td><input type="text" ng-model="node.remark" class="am-form-field"/></td>
									</tr>
									<tr>
										<td colspan="2" align="center">
											<button type="button" class="am-btn am-btn-success am-radius am-btn-xs" ng-click="saveRoutePort(node, item, $index)" title="保存" >
												<i class="am-icon-save"></i>
											</button>
											<button type="button" class="am-btn am-btn-danger am-radius am-btn-xs" ng-click="deleteRoutePort(node, item)" title="删除" >
												<i class="am-icon-trash"></i>
											</button>
										</td>
									</tr>
								</table>
							</div>
						</li>
						<li style="margin-left: 70px;">
							<div class="btnPlus">
								<button type="button" class="am-btn am-btn-success am-radius am-btn-xs am-btn-block {{item && item.id>0? ' ' : ' am-disabled'}}" ng-click="addRoutePort(item, item.routePorts.length)" title="新增港口">
									<i class="am-icon-plus"></i>
								</button>
							</div>
						</li>
					</ul>
				</div>

			</td>
		</tr>
	</table>
	<button type="submit"
		class="am-btn am-btn-success am-radius am-btn-xs am-btn-block"
		ng-disabled="myForm.$invalid" ng-click="save(item)">
		<i class="am-icon-save"></i>保存
	</button>	
</form>