<form name="theForm" class="theForm">
	<table id="voyPlanFormTab" class="am-table am-table-bordered am-table-striped">
		<tr>
			<td class="voyPlanLbl" align="right">
				<label>计划编号</label>
			</td>
			<td>
				<input type="text" ng-model="item.planNo" required="required" class="am-form-field"/>
			</td>
			<td class="voyPlanLbl" align="right">
				<label>计划名称</label>
			</td>
			<td>
				<input type="text" ng-model="item.name" required="required" class="am-form-field" />
			</td>
		</tr>
		<tr>
			<td align="right">
				<label>航次</label>
			</td>
			<td>
				<input type="text" ng-model="item.voyageNo" required="required" class="am-form-field"/>
			</td>
			<td align="right">
				<label>船名</label>
			</td>
			<td>
				<yhselect-table sltmodel="item.ship" mutl="false" 
					dataurl="ship/findByPage.do" id-name="id"  show-title="船名" show-name="name" filter-field="{ 'name_like': 'text' }"  style="display: inline-block;">
				</yhselect-table>
			</td>
		</tr>
		<tr>
			<td align="right">
				<label>达港日期</label>
			</td>
			<td>
				<input class="am-form-field" type="datetime" date-picker date-fmt="yyyy-MM-dd HH:mm:ss" min-date="" max-date="" ng-model="item.arrivalDate" 
					required="required" readonly="readonly" style="display: inline-block;width:150px;height: 29.2px;border-radius: 3px;font-size: 12px;">
			</td>
			<td align="right">
				<label>离港日期</label>
			</td>
			<td>
				<input class="am-form-field" type="datetime" date-picker date-fmt="yyyy-MM-dd HH:mm:ss" min-date="" max-date="" ng-model="item.departureDate" 
					required="required" readonly="readonly" style="display: inline-block;width:150px;height: 29.2px;border-radius: 3px;font-size: 12px;">
			</td>
		</tr>
		<tr>
			<td align="right">
				<label>备注</label>
			</td>
			<td colspan="3">
				<input type="text" ng-model="item.remark" required="required" class="am-form-field"/>
			</td>
		</tr>
		<tr>
			<td align="right">
				<label>航线</label>
			</td>
			<td colspan="3">
				<yhselect-table sltmodel="item.route" mutl="false" after-select="selectRoute"
					dataurl="route/findByPage.do" id-name="id"  show-title="航线" show-name="name" filter-field="{ 'name_like': 'text' }"  style="display: inline-block;">
				</yhselect-table>
			</td>
		</tr>
		<tr>
			<td colspan="4" >
				<button type="button" class="am-btn am-btn-primary am-radius" ng-click="refreshVslVoy(item)" title="刷新">
					<i class="am-icon-refresh"></i>刷新
				</button>
			</td>
		</tr>
		<tr>
			<td colspan="4">
				<div id="vslVoyList" class="vslVoyList" style="overflow-x:auto; width:1120px;">
					<ul style="width:{{item.vesselVoyages.length * 670 + 150}}px;height:auto;">
						<li class="vslVoyBox" ng-repeat="node in item.vesselVoyages">
							<div class="btnPlus">
								<button type="button" class="am-btn am-btn-success am-radius am-btn-xs am-btn-block" ng-click="addVslVoyage(item, $index)" title="新增港口">
									<i class="am-icon-plus"></i>
								</button>
							</div>
							<div style="margin-left:0;display:inline-block;">
								<table class="table" style="width:100%;">
									<tr>
										<td style="width:100px;" align="right">
											<label class="myLabel">船期编号</label>
										</td>
										<td>
											<input type="text" ng-model="node.vslVoyageNo" required="required" class="am-form-field"/>
										</td>
										<td style="width:100px;" align="right"><label class="myLabel">是否开船</label></td>
										<td>
											<input type="text" ng-model="node.isSail" required="required" class="am-form-field"/>
										</td>
									</tr>
									<tr>
										<td>
											<label class="myLabel">始发港</label>
										</td>
										<td>
											<yhselect-table sltmodel="node.portByPortId" mutl="false" 
												dataurl="port/findByPage.do" id-name="id"  show-title="始发港" show-name="name" 
												filter-field="{ 'name_like': 'text' }"  style="display: inline-block;">
											</yhselect-table>
										</td>
										<td>
											<label class="myLabel">目的港</label>
										</td>
										<td>
											{{item.vesselVoyages[$index + 1].portByPortId.name}}
										</td>
									</tr>
									<tr>
										<td align="right">
											<label class="myLabel">作业时间(h)</label>
										</td>
										<td>
											<input type="text" ng-model="node.jobTime" required="required" class="am-form-field"/>
										</td>
										<td align="right">
											<label class="myLabel">途中时间(h)</label>
										</td>
										<td>
											<input type="text" ng-model="node.onWayTime" required="required" class="am-form-field"/>
										</td>
									</tr>
									<tr>
										<td align="right"><label class="myLabel">开船日期</label></td>
										<td>
											<input class="am-form-field" type="datetime" date-picker date-fmt="yyyy-MM-dd HH:mm:ss" min-date="" max-date="" ng-model="node.departureDate" 
												required="required" readonly="readonly" style="display: inline-block;width:150px;height: 29.2px;border-radius: 3px;font-size: 12px;">
										</td>
										<td align="right"><label class="myLabel">截单日期</label></td>
										<td>
											<input class="am-form-field" type="datetime" date-picker date-fmt="yyyy-MM-dd HH:mm:ss" min-date="" max-date="" ng-model="node.cutOffDate" 
												required="required" readonly="readonly" style="display: inline-block;width:150px;height: 29.2px;border-radius: 3px;font-size: 12px;">
										</td>
									</tr>
									<tr>
										<td align="right"><label class="myLabel">ETA</label></td>
										<td>
											<input class="am-form-field" type="datetime" date-picker date-fmt="yyyy-MM-dd HH:mm:ss" min-date="" max-date="" ng-model="node.eta" 
												required="required" readonly="readonly" style="display: inline-block;width:150px;height: 29.2px;border-radius: 3px;font-size: 12px;">
										</td>
										<td align="right"><label class="myLabel">ETD</label></td>
										<td>
											<input class="am-form-field" type="datetime" date-picker date-fmt="yyyy-MM-dd HH:mm:ss" min-date="" max-date="" ng-model="node.etd" 
												required="required" readonly="readonly" style="display: inline-block;width:150px;height: 29.2px;border-radius: 3px;font-size: 12px;">
										</td>
									</tr>
									<tr>
										<td align="right"><label class="myLabel">是否锁定</label></td>
										<td>
											<input type="text" ng-model="node.lockStatus" required="required" class="am-form-field"/>
										</td>
										<td align="right"><label class="myLabel">备注</label></td>
										<td><input type="text" ng-model="node.remark" class="am-form-field"/></td>
									</tr>
									<tr>
										<td colspan="4" align="center">
											<button type="button" class="am-btn am-btn-success am-radius am-btn-xs  "
												ng-click="saveVslVoyage(node, item, $index)" title="保存" >
												<i class="am-icon-save"></i>
											</button> 
											&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
											<button type="button" class="am-btn am-btn-danger am-radius am-btn-xs" 
												ng-click="deleteVslVoyage(node, item, $index)" title="删除" >
												<i class="am-icon-trash"></i>
											</button>
										</td>
									</tr>
								</table>
							</div>
						</li>
						<li style="margin-left:70px;">
							<div class="btnPlus">
								<button type="button" class="am-btn am-btn-success am-radius am-btn-xs am-btn-block {{item && item.id>0? ' ' : '  am-disabled'}}" 
										ng-click="addVslVoyage(item, item.vesselVoyages.length)" title="新增港口">
									<i class="am-icon-plus"></i>
								</button>
							</div>
						</li>
					</ul>
				</div>
			</td>
		</tr>
	</table>

	<button type="submit" class="am-btn am-btn-success am-radius am-btn-xs am-btn-block" 
														ng-disabled="myForm.$invalid" ng-click="save(item)">
		<i class="am-icon-save"></i>保存
	</button>	
</form>