<form name="theForm" class="theForm">
			<input type="text" ng-model="item.id" required="required"
		class="am-form-field" placeholder="id" />
		</td>
			<input type="text" ng-model="item.name" required="required"
		class="am-form-field" placeholder="name" />
		</td>
			<input type="text" ng-model="item.crudo" required="required"
		class="am-form-field" placeholder="crudo" />
		</td>
			<input type="text" ng-model="item.requestUri" required="required"
		class="am-form-field" placeholder="requestUri" />
		</td>
			<input type="text" ng-model="item.entityPackage" required="required"
		class="am-form-field" placeholder="entityPackage" />
		</td>
			<input type="text" ng-model="item.impler" required="required"
		class="am-form-field" placeholder="impler" />
		</td>
			<input type="text" ng-model="item.ctrlName" required="required"
		class="am-form-field" placeholder="ctrlName" />
		</td>
			<input type="text" ng-model="item.jsUrl" required="required"
		class="am-form-field" placeholder="jsUrl" />
		</td>
		
	<!-- 	<input class="am-form-field" type="datetime" date-picker date-fmt="yyyy-MM-dd H:mm:ss" min-date="" max-date="" ng-model="item.createTime" required="required" readonly="readonly" style="display: inline-block;width:25%;height: 29.2px;border-radius: 3px;font-size: 12px;" -->
	<!-- 	placeholder="请选择创建时间" /> -->

	<button type="submit"
		class="am-btn am-btn-success am-radius am-btn-xs am-btn-block"
		ng-disabled="myForm.$invalid" ng-click="save(item)">
		<i class="am-icon-save"></i>保存
	</button>	
</form>