<!--
    作者：tooze2003@163.com
    时间：2015-09-16
    描述：柜型选择框
-->

<!-- 以上为列表代码 -->

<div ng-switch="mutl" class="selectContainer">
	<i class="am-icon-edit am-text-danger" ng-click="toggleSelectDivDispaly()"></i>
	<!-- 输出已选  开始-->
	<a ng-switch-when="false" ng-if="sltmodel!=null" class="am-badge am-badge-warning  am-radius">{{sltmodel.side}}{{sltmodel.type}} 
		<span class="am-close " ng-click="delSelected(item)">&times;</span>
	</a>
	<!-- 	<span ng-switch-when="true"
		class="am-badge am-badge-warning am-radius "
		ng-repeat="item in sltmodel"> {{item.name}} 
			<a class="am-close am-close-alt am-close-spin" ng-click="delSelected(item)">x</a> </span> -->

	<a ng-switch-when="true" ng-repeat="item in sltmodel" class="am-badge am-badge-warning  am-radius">{{item.side}}{{item.type}} <span
		class="am-close " ng-click="delSelected(item)">&times;</span>
	</a>

	<!-- 输出已选  结束-->
	<div class="selectDiv" ng-show="SelectDivDispalyFlag">
		<!-- 关闭下拉框 开始-->
		<a class="am-close am-close-alt am-close-spin am-margin-bottom-xs am-fr" ng-click="hiedecloseselectdiv()">&times;</a>
		<!-- 关闭下拉框 结束-->
		<!-- 以下为列表代码 -->
		<table ng-table="tableParams" show-filter="true" class="ng-table-responsive am-table am-table-bordered am-table-striped" id="table">
			<keyvalue dataurl="containerType/find.do" />
			<tbody ng-repeat="item in $data">
				<tr id="tr{{item.id}}" ng-dblclick="selcectCurrentTr(item)">
					<td data-title="'柜型'" filter="{ 'type_like': 'text' }" sortable="'side'" sort-indicator="'span'">
						{{item.side}} {{item.type}}
						<i class="am-icon-check am-text-success" ng-show="isSelected(item)"></i>
					</td>
				</tr>
			</tbody>
		</table>
		<!-- 以上为列表代码 -->
	</div>

</div>