<form name="theForm" class="theForm">

	<div class="doorselect">
		<label>
			开始：
		</label>
			<yhselect-table sltmodel="item.start" mutl="false" dataurl="door/find.do" 
				id-name="id" show-title="门点" show-name="name" filter-field="{ 'name_like': 'text' }"  style="display: inline-block;">
			</yhselect-table>		
	</div>

	<div class="portselect">
		<label>
			结束：
		</label>
			<yhselect-table sltmodel="item.end" mutl="false" dataurl="port/find.do" 
				id-name="id" show-title="港口" show-name="name" filter-field="{ 'name_like': 'text' }"  style="display: inline-block;">
			</yhselect-table>		
	</div>

	<label>进出口：</label><input type="radio" ng-model="item.importOrExport" value="1" />&nbsp;进口&nbsp;&nbsp;
	<input type="radio" ng-model="item.importOrExport" value="2" />&nbsp;出口	

	<div class="containertypeselect">
		<label>
			箱型：
		</label>
			<yhselect-table sltmodel="item.standardPrice.containerType" mutl="false" dataurl="containerType/find.do" 
				id-name="id" show-title="箱型" show-name="side" filter-field="{ 'side_like': 'text' }"  style="display: inline-block;">
			</yhselect-table>		
	</div>

	<input type="text" ng-model="item.standardPrice.price" required="required"
		class="am-form-field" placeholder="价格" />	
	
	<p></p>
	<div class="am-g doc-am-g">
		<div class="am-u-sm-6">
			<b class="am-text-danger">
				结束日期必须大于开始日期
			</b>
			<p></p>
			开始日期：
			<input id="d4311" class="Wdate am-form-field am-radius" type="text" date-picker date-fmt="yyyy-MM-dd" ng-model="item.standardPrice.effectiveDateS" min-date="" max-date="#F{$dp.$D(\'d4312\')||\'2020-10-01\'}" style="width: 250px;height: 30px;line-height: 30px;font-size: 14px;padding-left: 5px;"/>
			<!-- 获取到的开始日期：{{item.standardPrice.effectiveDateS}} -->
			<p></p>
			结束日期：
			<input id="d4312" class="Wdate am-form-field am-radius" type="text" date-picker date-fmt="yyyy-MM-dd" ng-model="item.standardPrice.effectiveDateE" min-date="#F{$dp.$D(\'d4311\')}" max-date="" style="width: 250px;height: 30px;line-height: 30px;font-size: 14px;padding-left: 5px;"/>
			<!-- 获取到的结束日期：{{item.standardPrice.effectiveDateE}} -->
		</div>
	</div>
	<p></p>

	<button type="submit"
		class="am-btn am-btn-success am-radius am-btn-xs am-btn-block"
		ng-disabled="myForm.$invalid" ng-click="save(item)">
		<i class="am-icon-save"></i>保存
	</button>	
</form>