.selectContainer .am-badge {
	margin-left: 10px;
}

.selectContainer .selectDiv .input-filter {
	width: 90%;
}

.selectContainer .selectDiv {
	background-color: #FFF;
	width: 150px;
	box-shadow: 3px 3px 5px #888;
	padding: 5px 5px 10px;
	position: absolute;
	margin-top: 5px;
	margin-left: 5px;
	max-height: 300px;
	overflow-y:scroll;
	z-index:3;
}
.selectContainer .selectDiv .btn{
	padding: 2px 4px;
	margin-bottom: 10px;
}
.selectContainer .selectDiv .am-table-striped>tbody>tr>td, .selectDiv .am-table-striped>thead>tr>th
	{
	background-color: #ffffff;
	height: 20px;
	padding: 0px;
	text-align: center;
	line-height: 36px;
}

.selectContainer .selectDiv .am-table-striped>tbody>tr>td input {
	margin: 0
}

.selectContainer .selectDiv .am-icon-minus-square {
	cursor: pointer;
}

.selectContainer {
	display: inline-block;
}

.selectContainer a {
	display: inline-block;
}

a>span.am-close {
	color: red;
	display: inline-block;
	text-align: center;
	width: 17px;
	font-size: 15px;
	font-weight: bold;
	line-height: 15px;
	color: #000;
	text-shadow: 0px 1px 0px #FFF;
	opacity: 0.2;
	transition: all 0.3s ease 0s;
	padding-top: 2px;
	display: inline-block;
}
