<form name="theForm" class="theForm">
	<input type="text" ng-model="item.insuranceNo" required="required"	 class="am-form-field"  placeholder="保险单号" />
	<input type="text" ng-model="item.enterpriseId" required="required"	 class="am-form-field" placeholder="保险公司" />
	<input type="text" ng-model="item.insuranceWorth" required="required"	class="am-form-field" placeholder="保险货值" />
	<input type="text" ng-model="item.insuranceMoney" required="required"	class="am-form-field" placeholder="保险金额" />
	<input type="text" ng-model="item.insuranceTypes" required="required" class="am-form-field" placeholder="保险种类" />
	<input type="text" ng-model="item.insureTimes" required="required" class="am-form-field" placeholder="投保时间" />
	<!--<div class="departmentselect">
		<label>
			部门:
		</label>
		<a class="am-badge am-badge-warning am-radius"
			ng-repeat="department in item.departments"> {{department.name}} </a>
		<!--<departmentselect sltmodel="item.departments" mutl="true" id-name="id"></departmentselect>
	</div>-->

	<!-- 	<input class="am-form-field" type="datetime" date-picker date-fmt="yyyy-MM-dd H:mm:ss" min-date="" max-date="" ng-model="item.createTime" required="required" readonly="readonly" style="display: inline-block;width:25%;height: 29.2px;border-radius: 3px;font-size: 12px;" -->
	<!-- 	placeholder="请选择创建时间" /> -->

	<button type="submit" class="am-btn am-btn-success am-radius am-btn-xs am-btn-block" ng-disabled="myForm.$invalid" ng-click="save(item)">
		<i class="am-icon-save"></i>保存
	</button>
</form>