@CHARSET "UTF-8";

.pagination {
	margin: 0;
}

.am-btn-group {
	margin-right: 5px;
	margin-bottom: 10px
}

.theForm input {
	height: 33px;
}

.theForm input, .departmentselect {
	display: inline-block;
	width: 33%;
	border-radius: 3px;
	font-size: 12px;
	margin: 5px 0;
}

.theForm .departmentselect .am-icon-edit {
	margin-left: 2px;
	cursor: pointer;
}

.theForm .am-btn-block {
	height: 37.2px;
	margin-top: 5px;
	font-size: 16px;
}

.theForm .am-btn-block i {
	font-size: 16px;
	margin-right: 5px;
}

